html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
	margin: 0;
	padding: 0;

	min-width: 320px;
	min-height: 100svh;

	background: linear-gradient(
		to left,
		#F0C3FC 0%,
		#D7BEFC 20%,
		#BCB1FC 40%,
		#A1AEFC 60%,
		#94BDFC 80%,
		#8EC5FC 100%
	);
	
	color: $color-white;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
