@import "./mixins";

$color-white: #ffffff;
$color-black: #202427;
$color-grey: #8F99A3;
$color-grey-2: #C7CCD1;
$color-blue: #2578F4;
$color-purple: #5D5FEF;
$color-pink: #EF5DA8;

$scrollbar-bc: rgba($color-black, 0.1);
$scrollbar-thumb-bc: $color-black;

$main-font: 'Inter 400', sans-serif;
$main-font-bold: 'Inter 600', sans-serif;
$main-font-black: 'Inter 700', sans-serif;

$breakpoints: (
	"xxs": 360px,
	"xs": 600px - 1,
	"sm": 798px - 1,
	"md": 1080px - 1,
	"lg": 1280px - 1,
	"xl": 1500px - 1,
	"xxl": 1600px,
);
