@import "./mixins";

$color-white: #ffffff;
$color-black: #202427;
$color-grey: #8F99A3;
$color-grey-2: #C7CCD1;
$color-blue: #2578F4;
$color-purple: #5D5FEF;
$color-pink: #EF5DA8;

$main-font: 'Inter 400', sans-serif;
$main-font-bold: 'Inter 600', sans-serif;
$main-font-black: 'Inter 700', sans-serif;